#Lenovo Casa#C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312
#PC Oficina#C:\Users\jmbsk\AppData\Local\Programs\Python\Python312
home = C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312
include-system-site-packages = false

#Lenovo Casa#version = 3.12.19
#PC Oficina#version = 3.12.19
version = 3.12.19

#Lenovo Casa#C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312\python.exe
#PC Oficina#C:\Users\jmbsk\AppData\Local\Programs\Python\Python312\python.exe
executable = C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312\python.exe

#Lenovo Casa#C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312\python.exe -m venv C:\Users\anyde\OneDrive\PythonDev\laundry\KleenApp\kleen\env
#PC Oficina#C:\Users\jmbsk\AppData\Local\Programs\Python\Python312\python.exe -m venv C:\Users\anyde\OneDrive\PythonDev\laundry\KleenApp\kleen\env
command = C:\Users\Jose Maria\AppData\Local\Programs\Python\Python312\python.exe -m venv C:\Users\anyde\OneDrive\PythonDev\laundry\KleenApp\kleen\env
