{% extends "mainapp/layout.html" %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px; margin-bottom: 20px; color: #28A745;"></i></center>
    {% if last_cr.incomes > 0 %}
        <h3 class="text-center">Corte exitoso</h3>
        <div class="text-center">
            <a href="?ticket=1" target="_blank" class="btn btn-secondary">Imprimir ticket</a>
        </div>
    {% else %}
        <h3 class="text-center">Sin ingresos ni cobros</h3>
    {% endif %}
	<br>
	<div class="text-center">
		<a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
	</div>
</div>

<div class="container" style="margin: 0 auto;width: 40%;padding: 50px;background: #e7dcdc;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-5">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><img src=" {% static COMPANY_LOGO %}" alt="COMPANY_LOGO" style="max-height: 140px;"></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-7">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right mb-0">
                                    <li><strong>Datos del corte</strong></li>
                                    <li><b class="text mb-0">Usuario:</b> {{user.full_name}}</li>
                                    <li><b  class="text mb-0">Caja:</b> {{last_cr.cashregister_id}}</li>
                                    <li><small class="text mb-0">fecha:</small></li>
                                    <li><small class="text mb-0"><b>Inicio:</b> {{last_cr.start_at}}</small></li>
                                    <li><small class="text mb-0"><b>Finaliza:</b> {{last_cr.end_at}}</small></li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        
                        <div class="col-lg-12">
                            <hr>
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    
                                </div>
                                <div class="card-body mb-0">
                                    <div class="form-row mb-0">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">Fondo inicial caja:</label></b>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> ${{last_cr.initial_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">INGRESOS:</label></b>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <label for="">+ Efectivo:</label>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> + ${{last_cr.cash_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <label for="">+ Transferencia:</label>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> + ${{last_cr.transfer_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <label for="">+ Paypal/TC/TD:</label>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> + ${{last_cr.card_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <label for="">+ Entradas de caja:</label>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> + ${{movements_in|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">EGRESOS:</label></b>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <label for="">- Salidas de caja:</label>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> - ${{last_cr.outcomes|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">Saldo total en caja:</label></b>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <span> ${{last_cr.final_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                </div>
                                {% if last_cr.incomes > 0 %}
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">Ventas del día:</label></b> <br>
                                            <span> ${{last_cr.sales|floatformat:"2g"}} </span>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <b><label for="">Cobranza:</label></b> <br>
                                            <span> ${{last_cr.collect_balance|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-left mb-0">
                                            <b><label for="">Total ingresos:</label></b> <br>
                                            <span> ${{last_cr.incomes|floatformat:"2g"}} </span>
                                        </div>
                                        <div class="form-group col-md-6 text-right mb-0">
                                            <b><label for="">Saldo efectivo:</label></b> <br>
                                            <span> ${{total_cash|floatformat:"2g"}} </span>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                           
                            <div class="invoice-footer mt25">
                                <p class="text-center">Corte realizado</p>
                                
                            </div>
                            <div class="text-center">
                                <a href="{% url 'logout' %}" class="btn btn-primary">Salir</a>
                                <a href="?ticket=1" target="_blank" class="btn btn-secondary">Imprimir ticket</a>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div> <!-- row printable-->
</div> <!--Conteiner-->

{% endblock content %}