{% extends "mainapp/layout.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="background: #e0e0e0;">

    <div class="container">
        <div class="row">
        <!--aside-->
        {% include "mainapp/includes/dashboard_sidebar.html" %}
        <main class="col-md-9">
            <article class="card" style="background: #f5f5f5">
            <form action="{% url 'payment_deferred' %}" method="POST">
            {% csrf_token %}
            <header class="card-header">
                {% include "mainapp/includes/alerts.html" %}
                <strong class="d-inline-block mr-3">Mis órdenes</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if not cashcuts %}
                                <p class="title mb-0">No hay cortes de caja de este usuario: {{user.full_name}}</p>
                                <br>
                                <a href="{% url 'logout' %}" class="btn  btn-primary"> <span class="text">Salir, inicia un corte</span> <i class="fas fa-shopping-cart"></i></a>
                                {% else %}
                                {% for cashcut in cashcuts %}
                                <tr>
                                    {% comment "Como mostrar solo la 1er imagen del set orderproducts de cada order" %}
                                    <td width="65">
                                        {% for image in orderproducts %}
                                            {% if image.order.id == order.id %}
                                                <img src="{{image.product.image1.url}}" class="img-xs border">
                                            {% endif %}
                                        {% endfor %}
                                        <img src="{{orderproducts.0.product.image1.url}}" class="img-xs border">
                                    </td>
                                    
                                    {% endcomment %}
                                    <td class="text-right mb-0">
                                        <var class="price text-muted">Saldo total: ${{cashcut.final_balance|floatformat:"2g"}}</var> 
                                        <var class="price text-muted">Efectivo: ${{cashcut.total_cash|floatformat:"2g"}}</var> 
                                        {% if cashcut.collect_balance > 0 %}<p class="price text-muted mb-0">Cobranza: ${{cashcut.collect_balance|floatformat:"2g"}}</p> {% endif %}
                                    </td>
                                    <td>
                                        <span {% if cashcut.status == 'Started' %} style="color: #17B169;"
                                        {% elif cashcut.status == 'Closed'  %} style="color: #007FFF;" 
                                        {% endif %} > <b>{{cashcut.get_status_display}}</b> <a href=" {% url "cashcut_detail" cashcut.id %} "><small> | Corte del  {{cashcut.start_at}} {% if cashcut.status == 'Closed'  %} al {{cashcut.end_at}}{% endif %}</small></span> <br>
                                        <small></a> <span class="price text-muted small">
                                        <var class="price text-muted">Inicial </var>
                                        ${{cashcut.initial_balance|floatformat:"2g"}} 
                                        <var class="price text-muted">+ Ingresos efectivo </var>
                                        ${{cashcut.cash_balance|floatformat:"2g"}} 
                                        <var class="price text-muted">+ Ingresos transf. </var>
                                        ${{cashcut.transfer_balance|floatformat:"2g"}}
                                        <var class="price text-muted">+ Ingresos tarjeta </var>
                                        ${{cashcut.card_balance|floatformat:"2g"}}
                                        <var class="price text-muted">- Salidas </var>
                                        ${{cashcut.outcomes|floatformat:"2g"}} =
                                        <var class="price text-muted">Saldo total </var>
                                        ${{cashcut.final_balance|floatformat:"2g"}} --
                                        <var class="price text-muted">Ingresos del día: </var>
                                        ${{cashcut.sales|floatformat:"2g"}} |
                                        <var class="price text-muted">Cobranza: </var>
                                        ${{cashcut.collect_balance|floatformat:"2g"}} |
                                        <var class="price text-muted">Total ingresos: </var>
                                        ${{cashcut.incomes|floatformat:"2g"}} |
                                        <var class="price text-muted">Saldo efectivo: </var>
                                        ${{cashcut.total_cash|floatformat:"2g"}} |
                                        </span></small>
                                        
                                    </td>  <!--https://cssgradient.io/shades-of-green/-->
                                    
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </form>
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div> <!-- container-->
    
    
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}