{% extends "mainapp/layout.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="background: #e0e0e0;">

    <div class="container">
        <div class="row">
        <!--aside-->
        {% include "mainapp/includes/dashboard_sidebar.html" %}
        <main class="col-md-9">
            <article class="card" style="background: #f5f5f5">
            <header class="card-header">
                {% include "mainapp/includes/alerts.html" %}
                <strong class="d-inline-block mr-3">Mis direcciones</strong>
                {% if addresses %}
                    <span style="text-align: right;"><a href=" {% url "add_address" %} " type="button" class="btn btn-success"> <span>Agregar otra</span> <i class="fa fa-plus"></i> </a></span> 
                {% endif %}
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">                        
                        <div class="table-responsive">
                            <table class="table table-hover">
                                {% if not addresses %}
                                <span>Captura tu dirección de envío completa:</span>
                                <br>
                                <div class="card-body">
                                    <div class="row"> 
                                        <div class="col-md-12">
                                            <form action=" {% url "addresses" %} " method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="">Dirección</label>
                                                        {{address_form.address_line_1}}
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="">Colonia</label>
                                                        {{address_form.address_line_2}}
                                                    </div>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <label for="">Ciudad</label>
                                                        {{address_form.city}}
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="">Estado</label>
                                                        <!-- Se captura 'name' -> user.state = request.POST['inputState'] -->
                                                        <select id="inputState" name="inputState" class="form-control">
                                                            <option value="" disabled>Elige</option>
                                                            {% for state in states_mx %}
                                                                <option value="{{state}}">{{state}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="">Pais</label>
                                                        {{address_form.country}}
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-2">
                                                        <label for="">CP</label>
                                                        {{address_form.zipcode}}
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="">Telefono</label>
                                                        {{address_form.phone}}
                                                    </div>
                                                    <div class="form-group col-md-7">
                                                        <label for="">Referencia</label>
                                                        {{address_form.nearby}}
                                                    </div>
                                                </div>
                                                <div class="form-row" style="text-align: left;">
                                                    <div class="form-group col-md-2" style="text-align: left;">
                                                        <b><label for="">Es mi favorita:</label></b>
                                                        {{address_form.default}}
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="">Está vigente:</label>
                                                        {{address_form.is_active}}
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary"> <span>Agregar dirección</span> <i class="fa fa-check"></i> </button>
                                            </form>
                                           
                                        </div>
                                    </div> <!-- row.// -->
                                </div> <!-- card-body .// -->
                                {% else %}
                                {% for address in addresses %}
                                <tr>
                                    <td> 
                                        <p class="title mb-0">{{address.address_line_1}} </p>
                                        <var class="text-muted">{{address.address_line_2}}</var> 
                                        <small><span class="price text-muted small">| {{address.city}} | {{address.state}}</span></small> 
                                    </td>
                                    <td>
                                        {% if address.default %} <span style="color: #17B169;"><b>Mi favorita</b></span> <br>{% endif %}
                                        
                                        {% if address.is_active %}
                                            <span style="color: #007FFF;">Activa</span>
                                        {% else %}
                                            <span style="color: #6a6e73;">Inactiva</span>
                                        {% endif %}
                                        
                                    </td>  <!--https://cssgradient.io/shades-of-green/-->
                                    <td width="250"> <a href=" {% url "edit_address" address.id %} " class="btn btn-outline-primary">Cambiar</a>
                                        {% if address.is_active %}
                                            <a href=" {% url "address_deactivate" address.id %} " class="btn btn-outline-warning"> Desactivar </a> 
                                        {% else %}
                                            <a href=" {% url "address_deactivate" address.id %} " class="btn btn-outline-info"> Activar </a> 
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div> <!-- container-->
    
    
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}