{% extends "mainapp/layout.html" %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">


    <!-- ============================ COMPONENT FORGOT_PASSWORD   ================================= -->
        <div class="card mx-auto" style="max-width: 480px; margin-top:100px; background:lightgray;">
          <div class="card-body">
          <h4 class="card-title mb-4">Proceso para crear nueva contraseña</h4>
          {% include "mainapp/includes/alerts.html" %}
          <form action="{% url "forgot_password" %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label>Correo</label>
                <input name="email" type="email" class="form-control" placeholder="ingresa tu correo" >
              </div> <!-- form-group// -->
  
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Enviar correo  </button>
              </div> <!-- form-group// -->    

              <div class="form-group">
                <a href=" {% url "login" %} " class="float-right">¿Tienes cuenta y contraseña? Entrar</a>
              </div> <!-- form-group// -->
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">¿No tienes cuenta? <a href=" {% url "register" %} ">Crea tu cuenta</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}