{% extends "mainapp/layout.html" %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">


    <!-- ============================ COMPONENT RESET_PASSWORD   ================================= -->
        <div class="card mx-auto" style="max-width: 480px; margin-top:100px; background:lightblue;">
          <div class="card-body">
          <h4 class="card-subtitle mb-4">Ingresa tu nueva contraseña y confirmala:</h4>
          {% include "mainapp/includes/alerts.html" %}
          <form action="{% url "reset_password" %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label>Crea tu contraseña</label>
                  <input name="password" type="password" class="form-control" placeholder="tu nueva contraseña" >
              </div> <!-- form-group end.// --> 
              <div class="form-group col-md-6">
                  <label>Repite la contraseña</label>
                  <input name="confirm_password" type="password" class="form-control" placeholder="confirma tu contraseña" >
              </div> <!-- form-group end.// -->  
            </div> <!-- form-row.// -->
              
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Cambiar contraseña  </button>
            </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
  
    <!-- ============================ COMPONENT RESET_PASSWORD  END.// ================================= -->
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}